<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sarah Otley">
    <meta name="author" content="Sarah Otley">
    <link rel="icon" type="image/png" href="~/favico.ico" />
    <title>@RenderSection("Title", false) Sarah Otley</title>
    <link href="/Assets/Styles/Imports.css" rel="stylesheet">
    @Styles.Render("~/Assets/Styles/before")
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <body>
        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        
        @{
            string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
            string controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
            bool isFirst = controllerName == "Portfolio" && actionName == "Index";
        }
        
        @if (isFirst)
        {
            <div id="hello">
            </div>
            <div id="hellotext">
                <h1 class="font-play font-uppercase font-mega no-bottom-margin">Sarah Otley</h1>
                <h4 class="font-serif font-medium no-top-margin">hello!</h4>
            </div>
        }

        <div class="wrapper">
            <nav class="navbar navbar-custom fixed">
                <div class="logo pull-left">
                    @*<a href="/">home</a>*@
                </div>
                <div class="links pull-right">
                    <a href="/">home</a>
                    <a href="/piccies">piccies</a>
                    <a href="/illos">illo's</a>
                    <a href="/instagram">insta</a>
                    <a href="/about">hello!</a>
                </div>
            </nav>
            <div id="nav-spacer"></div>
            @RenderBody()
            </div>

        <div class="scroll-up">
            <a href="#totop"><i class="ion-ios-arrow-thin-up"></i></a>
        </div>

        @Scripts.Render("~/Assets/Scripts/after")
        @RenderSection("OptionalScripts", false)
        @if (isFirst)
        {
            <script type="text/javascript">
                $(window).resize(function () {
                    var windowheight = $(window).height();
                    var navbarheight = $('.navbar').height();
                    $(window).scroll(function() {
                        if ($(window).scrollTop() > windowheight) {
                            $('.navbar').addClass('fixed');
                            $('#nav-spacer').css('height', navbarheight);
                        }
                        else {
                            $('.navbar').removeClass('fixed');
                            $('#nav-spacer').css('height', 0);
                        }
                    }).scroll();
                }).resize();
            </script>
        }
    </body>
</html>