@model Soweb.Models.PortfolioDetail

<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <img src="/Assets/Images/@Model.Selected.Name" class="detail-image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="font-play font-huge font-uppercase">@Model.Selected.Id</h5>
                <h4 class="font-serif">@Model.Selected.Description</h4>
            </div>
        </div>
    </div>
</section>

<hr class="divider">

@if (Model.Related.Any())
{
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h5 class="font-play font-medium font-uppercase cinta">Related</h5>
                </div>
            </div>
            <div class="row">
                <div class="portfolio-grid">
                    <div class="grid-sizer"></div>
                    @foreach (var img in Model.Related)
                    {
                        <div class="portfolio-item">
                            <a href="@Url.Action("Detail", "Portfolio", new { img.Id })">
                                <img src="/Assets/Images/@img.Name"/>
                                <div class="portfolio-work-caption">
                                    <h3 class="portfolio-work-title">@img.Id</h3>
                                    <div class="portfolio-work-descr">@img.Description</div>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}