@model Soweb.Models.PortfolioDetail
@section Title { @Model.Selected.Name | }

<section class="module">
    <div class="container cinta">
        <div class="row">
            <div class="col-sm-12">
                <a href="/Assets/Images/@Model.Selected.Filename" target="_blank">
                    <img src="/Assets/Images/@Model.Selected.Filename" class="detail-image">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="font-play font-huge font-uppercase">@Model.Selected.Name</h5>
                <h4 class="font-serif">@Model.Selected.Description</h4>
                <div class="font-xsmall font-serif">
                    @Html.Raw(Model.Selected.ExtraInfo)
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Related.Any())
{
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h5 class="font-play font-medium font-uppercase cinta">Related</h5>
                </div>
            </div>
            <div class="row related">
                @foreach (var img in Model.Related)
                {
                    <a href="@Url.Action("Detail", "Portfolio", new { img.Id })">
                        <img src="/Assets/Images/@img.Filename" />

                    </a>
                }
            </div>
        </div>
    </section>
}
@section OptionalScripts {
        <script type="text/javascript" async defer data-pin-color="white" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
}
